<html>
        <head>
        <title>{$title}</title>
        {$headerinclude}
        </head>
        <body>
        {$header}
        <script>function showannouncement(aid) {
            $("#announcement" + aid).toggle(); 
        }
        function previewthread(tid) {
            $("#threadpreview"+ tid).toggle();
        }
        function selectall() {
            var ischecked = document.getElementById("selectallcheckbox").checked; var checkedtids = $(":checkbox[id!='selectallcheckbox']").toArray();
             var newlist = ""; 
             var comma = "";
             var count = 0;
             if(ischecked == true) { $("#selectallcheckbox").attr("checked", true);
              for(i=0; i<checkedtids.length; i++) 
              { 
                  myvalue = checkedtids[i].value;
                  newlist = newlist + comma + myvalue;
                  comma = ",";
                  count = count + 1;
                  $("#inlinemod_" + myvalue).attr("checked", "checked");
                  $("#thread" + myvalue).addClass("trow_selected");
              }
             }
             else { 
                $("#selectallcheckbox").attr("checked", false);
                for(i=0; i<checkedtids.length; i++) 
                {
                    myvalue = checkedtids[i].value;
                    comma = ",";
                    $("#inlinemod_" + myvalue).attr("checked", false);
                    $("#thread" + myvalue).removeClass("trow_selected");
                } 
             }
             $("#tidlist").val(newlist);
             $("#inlinesubmit").val("Go (" + count + ")");
        }
        function clear_selection() {
            $(":checkbox").attr("checked", false);
            $(".trow_selected").removeClass("trow_selected");
            $("#tidlist").val(""); $("#inlinesubmit").val("Go (0)");
        }
        function updatetids(tid) {
            var tidlist = $("#tidlist").val();
            var ischecked = document.getElementById("inlinemod_"+tid).checked;
            if(ischecked == true) {
                $("inlinemod_"+tid).attr("checked", true);
                $("#thread" + tid).addClass("trow_selected");
            }
            else {
                $("inlinemod_"+tid).attr("checked", false);
                $("#thread"+ tid).removeClass("trow_selected");
            }
            var checkedtids = $(":checkbox[id!='selectallcheckbox']").toArray();
            var newlist = "";
            var comma = "";
            var count = 0;
            for(i=0; i<checkedtids.length; i++)
            {
                tidchecked = document.getElementById(checkedtids[i].id).checked;
                if(tidchecked == true) 
                { 
                    myvalue = checkedtids[i].value;
                    newlist = newlist + comma + myvalue;
                    comma = ","; count = count +1;
                } 
            } 
            $("#tidlist").val(newlist); 
            $("#inlinesubmit").val("Go (" + count + ")");
        }
        </script>
        <h2>{$title}</h2>
        <br />
{$grouplogo}
        Members: {$memberlist}
        <br />
        Leaders: {$leaderlist}
        <div id="group_style" {$styleattribute}>
        <br />
        {$editgrouplink}
        {$addannouncementlink}
        {$joinlink}
{$managegrouplink}
        {$newthreadbutton}
        {$announcementlist}
        {$pagination}<br />
        <table border="0" cellspacing="{$theme['borderwidth']}" cellpadding="{$theme['tablespace']}" class="tborder"> <tr> <td class="thead" colspan="2">
        <a href="{$mybb->settings['bburl']}/showgroup.php?gid={$groupinfo['gid']}&amp;sort=subject&amp;direction=asc">Thread</a> / <a href="{$mybb->settings['bburl']}/showgroup.php?gid={$groupinfo['gid']}&amp;sort=username&direction=asc">Author</a></td>
        <td class="thead"><a href="{$mybb->settings['bburl']}/showgroup.php?gid={$groupinfo['gid']}&amp;sort=replies&direction=desc">Replies</a></td>
        <td class="thead"><a href="{$mybb->settings['bburl']}/showgroup.php?gid={$groupinfo['gid']}&amp;sort=dateline&direction=desc">Last Post</a></td>
        {$modcolumn}
        </tr>
        {$threads}
        </table>
        <br />
        {$pagination}
        {$modtools}<br />
{$groupjumpmenu}
        <br />
Users Viewing: {$online_members}
<br />
        {$footer}
        </div>
        </body>
        </html>
