<html>
    <head>
    <title>Announcements</title>
    {$headerinclude}
    </head>
    <body>
    {$header}
    <form action="editgroup.php" method="post">
    <input type="hidden" name="my_post_key" value="{$mybb->post_code}" />
    <input type="hidden" name="action" value="{$action}" />
    <input type="hidden" name="gid" value="{$gid}" />
    {$aidinput}
    Subject: <input type="text" name="subject" value="{$announcement['subject']}" />
    <br />
    Message: <textarea name="message" rows="5" cols="70">{$announcement['message']}</textarea>
    <br />
    Active? <select name="active">
    <option value="1">Yes</option>
    <option value="0">No</option>
    </select>
    <br />
    <input type="reset" value="Reset" /><input type="submit" value="Confirm" />
    </form>
    <br />
    {$footer}
    </body>
    </html>
